/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /* padding-top: 3rem; */
  /* padding-bottom: 3rem; */
  color: #000000;
  font-family: 'Lato', sans-serif;
}

.header-top {
  padding-top: 40px;
  padding-bottom: 30px;

  p {
    font-family: 'Cooper';
  }
}

.bg-red {
  background-color: #b3251b;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-menu {
  .navbar-nav .nav-link {
    font-weight: 700;
  }

  .form-control,
  .btn {
    border-radius: 0;
    border: 0;
  }

  .btn {
    background-color: #ffffff;

    &:hover,
    &:focus {
      color: #000000;
      background-color: #ffffff;
    }
  }
}

.navbar-nav .dropdown-menu {
  border-radius: 0;
  border: 0;

  .dropdown-item {
    color: #ffffff;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #911d15;
    }
  }
}

#myCarousel {
  margin-bottom: 0;

  .carousel-item {
    height: 47rem;
  }
}

.page-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 120px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.page-desc {
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.box-product {
  padding: 4px !important;
}

.box-modal {
  display: none;
  padding: 18px;

  .product-name {
    margin-top: 15px;
  }

  .product-category,
  .sku {
    font-size: 14px;
    color: #4b4b4b;
    margin-bottom: 0;
  }
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;

  .widget {
    .title {
      font-weight: bold;
      font-size: 18px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        span {
          float: right;
        }
      }
    }
  }

  .social {
    img {
      width: 50px;
    }

    li {
      margin-right: 10px;
    }
  }
}

.copyright {
  text-align: right;

  p {
    margin-bottom: 0;
  }
}
