@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

@font-face {
    font-family: 'Cooper';
    src: url('../fonts/CooperBlack.eot');
    src: url('../fonts/CooperBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CooperBlack.woff2') format('woff2'),
        url('../fonts/CooperBlack.woff') format('woff'),
        url('../fonts/CooperBlack.ttf') format('truetype'),
        url('../fonts/CooperBlack.svg#CooperBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

