/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
}

@media (min-width: 62em) {
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-only(xs) {}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(sm) {}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(md) {}

// Large devices (desktops, 992px and up)
@include media-breakpoint-only(lg) {}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-only(xl) {}

// Medium devices (landscape phones, 992px and down)
@include media-breakpoint-down(md) {
  .navbar-expand-md .navbar-nav .nav-link {
    font-size: 10px;
  }
  #myCarousel .carousel-item {
    height: 24rem;
}
  footer {
    font-size: 12px;
    .widget .title {
      font-size: 12px;
    }
  }
}

// Small devices (landscape phones, 992px and down)
@include media-breakpoint-down(sm) {
  .header-top {
    padding-top: 14px;
    padding-bottom: 10px;
}
#myCarousel .carousel-item {
    height: 12rem;
}
.carousel-item > img {
  height: auto;
}
.widget {
  margin-top: 30px;
}
.widget-2 {
  margin-top: 0 !important;
  ul {
    margin-top: 0 !important;
  }
}
.copyright {
  margin-top: 20px;
  text-align: center;
}
.page-title {
    font-size: 70px;
}
}

// Large devices (landscape phones, 992px and down)
@include media-breakpoint-down(lg) {

}

// Large devices (landscape phones, 1200px and up)
@include media-breakpoint-up(xl) {}