    <footer class="bg-img" style="background-image: url('${require('./assets/bgf.jpg')}');">
        <!-- <img class="d-none" src="assets/bgf.jpg"> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="title">OUR HOURS</h4>
                    <div class="row">
                        <div class="col-md-6 widget">
                            <ul>
                                <li>Monday <span>Closed</span></li>
                                <li>Tuesday <span>10am-6pm</span></li>
                                <li>Wednesday <span>10am-6pm</span></li>
                                <li>Thursday <span>10am-7pm</span></li>
                                <li>Friday <span>10am-6pm</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6 widget widget-2">
                            <ul>
                                <li>Saturday <span>10am-4pm</span></li>
                                <li>Sunday <span>Closed</span></li>
                                <li class="mt-3">Closed Public Holiday</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <h4 class="title">CONTACT US</h4>
                    <p>196 Station Road<br>
                    Penrose, Auckland 1061</p>
                    <p>
                        Phone: <a href="tel:95256546">(9) 525 6546</a><br>
                        Email: <a href="mailto:desiree@desiree.co.nz">desiree@desiree.co.nz</a>
                    </p>
                </div>
                <div class="col-md-3 widget social">
                    <h4 class="title">TERMS & CONDITIONS</h4>
                    <ul class="d-flex">
                        <li>
                            <a href="#"><img src="assets/fb.png" class="img-fluid" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/ig.png" class="img-fluid" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">
                    <p>&copy; 2019 Desiree Hire. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>