    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <p>Dressing up Auckland<br>
                    since 1928</p>
                </div>
                <div class="col-md-4 text-center">
                    <a href="/" class="navbar-brand mr-auto"><img src="assets/logo.jpg" class="logo img-fluid" alt=""></a>
                </div>
                <div class="col-md-4 text-center">
                    <p>196 Station Road<br>
                        Penrose, Auckland 1061<br>
                        <strong>(09) 525 6546</strong></p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar nav-menu navbar-expand-md navbar-dark bg-red">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav w-100 justify-content-between">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown88" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">COSTUME FOR HIRE</a>
                        <div class="dropdown-menu bg-red" aria-labelledby="dropdown88">
                            <a class="dropdown-item" href="list.html">1960's & 1970's</a>
                            <a class="dropdown-item" href="list.html">Mascots & Animals</a>
                            <a class="dropdown-item" href="list.html">1980's & 1990's</a>
                            <a class="dropdown-item" href="list.html">Children</a>
                            <a class="dropdown-item" href="list.html">Fairytale & Cartoons</a>
                            <a class="dropdown-item" href="list.html">Heroes & Villains</a>
                            <a class="dropdown-item" href="list.html">Horror</a>
                            <a class="dropdown-item" href="list.html">Kiwiana & International</a>
                            <a class="dropdown-item" href="list.html">Medieval & Elizabethan</a>
                            <a class="dropdown-item" href="list.html">Pimps & Prostitutes</a>
                            <a class="dropdown-item" href="list.html">Rockstars & Filmstars</a>
                            <a class="dropdown-item" href="list.html">Uniforms & Nautical</a>
                            <a class="dropdown-item" href="list.html">Victorian & Edwardian</a>
                            <a class="dropdown-item" href="list.html">Western</a>
                            <a class="dropdown-item" href="list.html">Other Characters</a>
                            <a class="dropdown-item" href="list.html">Christmas</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TERMS & CONDITIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT US</a>
                    </li>
                </ul>
                <form class="col-md-4 input-group mt-2 mt-md-0">
                      <input type="text" class="form-control" placeholder="Type to search" aria-label="Type to search">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                      </div>
                </form>
            </div>
        </div>
    </nav>